// color
$default-bg-color: #fefbf3;
$sub-bg-color: #eff6ff;

$main-color: #f0c387;
$sub-color: #2b4c7e;
$highlight-color: #ff6b35;

$default-text-color: #1f364d;
$sub-text-color: #5b6c7e;

$default-black-color: #14212b;
$default-white-color: #fffcfb;
$default-yellow-color: #fecf75;
$default-select-color: #74a6f2;

$default-shadow-color: rgba(95, 84, 62, 0.2);
$button-shadow-color: rgba(62, 73, 95, 0.2);

//test color
$test-color1: aliceblue;
$test-color2: red;
