.answer-section {
  & {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 4rem 4rem 4rem 2.5rem;
    overflow-y: auto;
    background: linear-gradient(to right, color('background', 'default') 0%, color('background', 'sub') 70%);
    word-break: keep-all;

    transform: translateX(100%);
    transition: transform 0.2s ease-out;
  }

  & p {
    white-space: pre-wrap;
  }

  &--visible {
    transform: translateX(0);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__answer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    &__title {
      flex-shrink: 0;
      width: 5rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  @include responsive('tablet-and-mobile') {
    width: 100%;
    padding: 2rem;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
  }
}

.answer-contents {
  display: flex;
  align-items: baseline;
  gap: 1rem;

  &__answer-keyword {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

.close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 1rem;

  &__icon {
    width: 30px;
    height: 30px;
    fill: color('brand', 'main');
  }
}
