.main {
  width: min(85%, 1200px); // 최대 너비 제한
  height: 95dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 0 auto; // flex-grow: 0, flex-shrink: 0, flex-basis: auto
    margin-bottom: 1rem;
    word-break: keep-all;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: color('text', 'default');
    @include responsive('tablet-and-mobile') {
      font-size: 1.5rem;
    }
  }

  &__sub-title {
    font-size: 1.2rem;
    color: color('text', 'default');
    @include responsive('tablet-and-mobile') {
      font-size: 1rem;
    }
  }

  &__selectBox {
    flex: 1; // 남은 공간 채우기
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 0; // 중요! overflow가 있는 flex child를 위해 필요
  }
}
