.main {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__description {
    height: 15%;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: color('text', 'default');
    margin-bottom: 1.5rem;
  }

  &__sub-title {
    font-size: 1.2rem;
    color: color('text', 'default');
    // margin-bottom: 2rem;
  }

  &__selectBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // height: 8%;
  }
}
