.sub_title {
  color: color('text', 'sub');
  font-size: 1rem;
  margin-bottom: 1rem;

  & span {
    margin-left: 1rem;
  }
}

.select_container {
  padding: 0 0.5rem;
  height: 70dvh;
  overflow-y: auto;
  margin-bottom: 1rem;
  mask-image: linear-gradient(to bottom, transparent, black 5%, black 96%, transparent);
}

.button-container {
  display: flex;
  justify-content: end;
}
.next-button {
  @extend %primary-button;
  & {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.4s ease;
    height: 3rem;
  }
}

.next-button:disabled {
  pointer-events: none;
  opacity: 0;
}
