.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(-180deg, $default-bg-color, $sub-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;

  &__logo {
    position: relative;
    width: 18rem;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
    color: $default-text-color;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__sub-title {
    font-size: 1.2rem;
    color: $default-text-color;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__description {
    color: $sub-text-color;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 7rem;
    height: 2.5rem;
    color: $default-white-color;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: $default-select-color;
    border-radius: 2rem;
    box-shadow: 0 1rem 1.3rem $button-shadow-color;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-0.25rem);
    }
  }
}

.logo {
  &__shadow {
    position: absolute;
    width: 9rem;
    height: 9rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 2rem 1rem $default-shadow-color;
    z-index: 1;
  }

  &__image {
    z-index: 2;
    object-fit: cover;
  }
}
