.answer-contents {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
  gap: 1.5rem;

  &__title {
    flex-shrink: 0;
    width: 5rem;
    font-size: 1rem;
    font-weight: bold;
  }

  &__answer {
    flex-grow: 1;
  }
  &__answer-me {
    color: color('text', 'sub');
  }

  &__answer-keyword {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
